You've joined a fintech startup tasked with improving customer loan offers. Using the 🔗Bondora P2P Loans dataset, you'll build build insights about what factors help determine a person's interest rate. You will work your way to creating a predictive model to estimate loan interest rates, which will guide your company in personalizing loan terms efficiently.
The features used in this lab are:
	•	VerificationType: Method used for loan application data verification
	•	Age: Age of the borrower (years)
	•	AppliedAmount: Amount applied
	•	Amount: Amount the borrower received
	•	Interest: Interest rate
	•	LoanDuration: The loan term
	•	Education: Education of the borrower
	•	EmploymentDurationCurrentEmployer: Employment time with the current employer
	•	HomeOwnershipType: Home ownership type
	•	IncomeTotal: Total income
	•	ExistingLiabilities: Borrower's number of existing liabilities
	•	RefinanceLiabilities: The total amount of liabilities after refinancing
	•	Rating: Bondora Rating issued by the Rating model
	•	NoOfPreviousLoansBeforeLoan: Number of previous loans
	•	AmountOfPreviousLoansBeforeLoan: Value of previous loans